.quiz-default-option-lists {
  padding-left: 0px;
  list-style-type: none;
}

@media screen and (min-width: 786px) {
  .quiz-default-option-lists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.quiz-default-option-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  margin-top: 20px;
  padding-top: 3px;
}

@media screen and (min-width: 786px) {
  .quiz-default-option-list {
    min-width: 420px;
    min-height: 64px;
    margin-bottom: 20px;
  }
}

.quiz-default-option-container {
  background-color: #cbd5e1;
  border: none;
  width: 221px;
  height: 48px;
  border-radius: 8px;
  margin-right: 10px;
  padding: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 786px) {
  .quiz-default-option-container {
    min-width: 380px;
    min-height: 64px;
    margin-bottom: 20px;
    padding-left: 0px;
  }
}

.quiz-default-option {
  color: #334155;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
}

@media screen and (min-width: 786px) {
  .quiz-default-option {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }
}

.correct-default-option-bg {
  background-color: #1c944b;
}

.wrong-default-option-bg {
  background-color: #bf2626;
}

.highlight-option-text {
  color: #f8fafc;
}

.default-option-check-circle {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 786px) {
  .default-option-check-circle {
    min-width: 32px;
    min-height: 32px;
    margin-bottom: 16px;
  }
}
