.game-report-single-select-option-lists {
  padding-left: 0px;
  list-style-type: none;
}

.game-report-single-select-option-list {
  width: 250px;
  height: 32px;
  gap: 10px;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 786px) {
  .game-report-single-select-option-list {
    min-width: 380px;
  }
}

.game-report-singleselect-option-input-element {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 786px) {
  .game-report-singleselect-option-check-circle {
    min-width: 32px;
    min-height: 32px;
  }
}

.game-report-option-check-circle {
  width: 24px;
  height: 24px;
  padding: 2.4px;
}

.game-report-single-select-option-label {
  color: #334155;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-right: 10px;
}

@media screen and (min-width: 786px) {
  .game-report-single-select-option-label {
    font-size: 20px;
  }
}
